.nav {
  display: flex;
  list-style: none;
}

li {
  margin: 0.5rem 0 0.5rem;
  margin-left: 0;
  background-color: #222222;

  padding: 1rem;
  border-radius: 10px;
}

a {
  font-size: 1.5rem;

  color: #fff;
  text-decoration: none;
  height: 100%;
}

.navbar {
  margin-bottom: -10px;
}
