.nav {
  display: flex;
  list-style: none;
  background-color: rgba(0, 0, 0, 0.5);
}

li {
  margin: 1rem;
  border: 1px solid #fff;
  padding: 2rem;
}

a {
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
  height: 100%;
}
