.container {
  padding: 5rem;
  max-width: 80%;
  margin: auto;
  height: 100%;
  display: flex;
  flex-flow: column;
}

@media only screen and (max-width: 28em) {
  .container {
    padding: 0;
    max-width: 100%;
  }
}

@media only screen and (max-width: 37.5em) {
  .container {
    max-width: 100%;
  }
}
